<article>
  <h1 class="text-3xl">Precios del servicio</h1>
  <hr class="my-2">

  <section>
    <p class="mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar pellentesque suscipit. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed dictum in lectus eget posuere.
      Mauris non nunc maximus, commodo nisl ac, consequat neque. Duis eleifend lacinia odio non porta. Integer tempus
      tempor sodales. Nunc id leo nibh. Cras ultricies in enim et volutpat. Integer sodales sapien a purus molestie
      interdum. Nunc euismod odio dui, a faucibus neque finibus ut. Cras ut sem sapien. Pellentesque quis lectus a neque
      egestas tincidunt eu ut tellus. Ut vel leo condimentum, pretium neque in, lobortis arcu. Sed cursus dui eu arcu
      interdum pellentesque. Praesent vestibulum ut lacus vitae eleifend.
    </p>
  </section>
</article>
