<article>
  <h1 class="text-3xl">Contacto</h1>
  <hr class="my-2">

  <section>
    <p class="mb-4">
      Nullam pretium magna ut dui viverra, ut tempus libero faucibus. In dignissim metus non turpis sodales, vitae
      vehicula nulla tristique. Sed mattis, odio in convallis euismod, ligula ligula malesuada mi, non convallis ex dui
      a odio. Pellentesque ullamcorper, justo vel dignissim tincidunt, ligula neque viverra diam, eu dictum arcu sapien
      nec purus. Donec ut felis sit amet lorem tristique tincidunt. Nullam nec mi lacus. Curabitur non blandit ante,
      tincidunt commodo ante.
    </p>
  </section>
</article>
