<article>
  <h1 class="text-3xl">Sobre la aplicación</h1>
  <hr class="my-2">

  <section>
    <p class="mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum scelerisque eros, nec ultricies augue
      hendrerit nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Suspendisse sit amet augue rutrum est blandit dapibus. Morbi tincidunt nisi eu tortor tristique, vitae feugiat mi
      rhoncus. Nulla sit amet neque vulputate, consectetur ante id, pellentesque tellus. Nam porttitor cursus massa, non
      condimentum lorem. Nam sit amet vestibulum nulla. Suspendisse non massa volutpat, scelerisque dolor non, fermentum
      massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis lectus est. Suspendisse nec massa eget
      justo efficitur tincidunt ac ornare ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum at
      nulla pulvinar tincidunt.
    </p>
  </section>
</article>
